<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.peprframework.core.activity">
      <activity
            configuration="org.peprframework.activities.video.configuration.VideoOutput"
            description="Show Video Output"
            id="org.peprframework.activities.video.videooutput"
            implementation="org.peprframework.activities.video.VideoOutput"
            input="org.peprframework.activities.video.VideoInput"
            largeIcon="icons/output_large.png"
            name="VideoOutput"
            output="java.lang.Void"
            processIcon="icons/output_large.png">
      </activity>
      <activity
            description="Outputs Video Stream and Detected Faces"
            id="org.peprframework.activities.video.markfaces"
            implementation="org.peprframework.activities.video.MarkFaces"
            input="org.peprframework.activities.video.FacesInput"
            largeIcon="icons/output_large.png"
            name="MarkFaces"
            output="java.lang.Void"
            processIcon="icons/output_large.png">
      </activity>
      <activity
            configuration="org.peprframework.activities.video.configuration.FaceController"
            description="Tracks lost faces and prunes detections"
            id="org.peprframework.activities.video.FaceController"
            implementation="org.peprframework.activities.video.FaceController"
            input="org.peprframework.activities.video.FaceControllerInput"
            name="FaceController"
            output="org.peprframework.activities.video.FaceControllerOutput">
      </activity>
      <activity
            configuration="org.peprframework.activities.video.configuration.CutROI"
            description="Cuts out a region of interest (ROI)"
            id="org.peprframework.activities.video.cutroi"
            implementation="org.peprframework.activities.video.CutROI"
            input="org.peprframework.activities.video.CutROIInput"
            name="CutROI"
            output="org.peprframework.activities.video.CutROIOutput">
      </activity>
      <activity
            configuration="org.peprframework.activities.video.configuration.GetUpperBody"
            description="Returns the upper body for the received faces (below a face there is typically a body)"
            id="org.peprframework.activities.video.getupperbody"
            implementation="org.peprframework.activities.video.GetUpperBody"
            input="org.peprframework.activities.video.GetUpperBodyInput"
            name="GetUpperBody"
            output="org.peprframework.activities.video.GetUpperBodyOutput">
      </activity>
      <activity
            configuration="org.peprframework.activities.video.configuration.MovementDetect"
            description="Evaluates the movement in a number of rectangles from frame to frame"
            id="org.peprframework.activities.video.movementdetect"
            implementation="org.peprframework.activities.video.MovementDetect"
            input="org.peprframework.activities.video.MovementDetectInput"
            name="MovementDetect"
            output="org.peprframework.activities.video.MovementDetectOutput">
      </activity>
      <activity
            configuration="org.peprframework.activities.video.configuration.FaceTracker"
            description="Tracks information about detected faces and provides ids"
            id="org.peprframework.activities.video.facetracker"
            implementation="org.peprframework.activities.video.FaceTracker"
            input="org.peprframework.activities.video.FaceTrackerInput"
            name="FaceTracker"
            output="org.peprframework.activities.video.FaceTrackerOutput">
      </activity>
      <activity
            configuration="org.peprframework.activities.video.configuration.SobelFilter"
            description="Edge Detection"
            id="org.peprframework.activities.video.sobelfilter"
            implementation="org.peprframework.activities.video.SobelFilter"
            input="org.peprframework.activities.video.SobelFilterInput"
            name="SobelFilter"
            output="org.peprframework.activities.video.SobelFilterOutput">
      </activity>
   </extension>
   <extension
         point="org.peprframework.core.configuration">
      <configuration
            id="org.peprframework.activities.video.configuration.VideoOutput"
            implementation="org.peprframework.activities.video.VideoOutputConfiguration">
         <property
               description="the height of the output window"
               field="height"
               name="height"
               type="int">
         </property>
         <property
               description="the width of the output window"
               field="width"
               name="width"
               type="int">
         </property>
      </configuration>
      <configuration
            id="org.peprframework.activities.video.configuration.FaceController"
            implementation="org.peprframework.activities.video.FaceControllerConfiguration">
         <property
               field="decay"
               name="decay"
               type="float">
         </property>
         <property
               field="minOverlap"
               name="minOverlap"
               type="float">
         </property>
         <property
               field="minProbability"
               name="minProbability"
               type="float">
         </property>
      </configuration>
      <configuration
            id="org.peprframework.activities.video.configuration.CutROI"
            implementation="org.peprframework.activities.video.CutROIConfiguration">
         <property
               field="height"
               name="height"
               type="int">
         </property>
         <property
               field="width"
               name="width"
               type="int">
         </property>
         <property
               field="x"
               name="x"
               type="int">
         </property>
         <property
               field="y"
               name="y"
               type="int">
         </property>
      </configuration>
      <configuration
            id="org.peprframework.activities.video.configuration.GetUpperBody"
            implementation="org.peprframework.activities.video.GetUpperBodyConfiguration">
         <property
               field="bodyHeight"
               name="bodyHeight"
               type="int">
         </property>
         <property
               field="bodyWidthFactor"
               name="bodyWidthFactor"
               type="float">
         </property>
      </configuration>
      <configuration
            id="org.peprframework.activities.video.configuration.MovementDetect"
            implementation="org.peprframework.activities.video.MovementDetectConfiguration">
         <property
               field="doNormalize"
               name="doNormalize"
               type="boolean">
         </property>
      </configuration>
      <configuration
            id="org.peprframework.activities.video.configuration.FaceTracker"
            implementation="org.peprframework.activities.video.FaceTrackerConfiguration">
         <property
               field="maxDistance"
               name="maxDistance"
               type="int">
         </property>
      </configuration>
      <configuration
            id="org.peprframework.activities.video.configuration.SobelFilter"
            implementation="org.peprframework.activities.video.SobelFilterConfiguration">
      </configuration>
   </extension>

</plugin>
