<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="configurationPropertyChooser" name="Configuration Property Chooser" schema="schema/configurationPropertyChooser.exsd"/>
   
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.peprframework.ide.category.pepr"
            class="org.peprframework.ide.views.PaletteView"
            id="org.peprframework.ide.views.PaletteView"
            name="Palette"
            restorable="true">
      </view>
      <view
            category="org.peprframework.ide.category.pepr"
            class="org.peprframework.ide.views.ProcessInspector"
            id="org.peprframework.ide.views.ProcessInspector"
            name="Process Inspector"
            restorable="true">
      </view>
      <category
            id="org.peprframework.ide.category.pepr"
            name="pepr">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.peprframework.ide.editors.ProcessEditor"
            contributorClass="org.peprframework.ide.editors.ProcessEditorActionBarContributor"
            default="true"
            filenames="*.process"
            id="org.peprframework.ide.editors.ProcessEditor"
            name="Graphical Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.peprframework.ide.category.pepr"
            class="org.peprframework.ide.wizards.NewProcessWizard"
            id="org.peprframework.ide.wizards.NewProcessWizard"
            name="Process">
      </wizard>
      <category
            id="org.peprframework.ide.category.pepr"
            name="pepr">
      </category>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            id="org.peprframework.ide.launch.process"
            modes="run"
            name="pepr Process"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.peprframework.ide.launch.LaunchConfigurationTabGroup"
            description="pepr Process"
            id="org.peprframework.ide.launch.tabgroup"
            type="org.peprframework.ide.launch.process">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchDelegates">
      <launchDelegate
            delegate="org.peprframework.ide.launch.ProcessRunModeDelegate"
            id="org.peprframework.ide.launch.processrunmodedelegate"
            modes="run"
            name="pepr Process Launcher"
            type="org.peprframework.ide.launch.process">
      </launchDelegate>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.peprframework.ide.launch.LaunchShortcut"
            description="asdfasdfasd"
            icon="icons/pepr_16x16.png"
            id="org.peprframework.ide.launch.shortcut.process"
            label="pepr Process"
            modes="run">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IFile">
                        <test
                              property="org.eclipse.debug.ui.matchesPattern"
                              value="*.process">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.peprframework.ide.configurationPropertyChooser">
      <configurationPropertyChooser
            implementation="org.peprframework.ide.propertychooser.TextPropertyChooserBuilder"
            type="text">
      </configurationPropertyChooser>
      <configurationPropertyChooser
            implementation="org.peprframework.ide.propertychooser.IntPropertyChooserBuilder"
            type="int">
      </configurationPropertyChooser>
      <configurationPropertyChooser
            implementation="org.peprframework.ide.propertychooser.DoublePropertyChooserBuilder"
            type="double">
      </configurationPropertyChooser>
      <configurationPropertyChooser
            implementation="org.peprframework.ide.propertychooser.FloatPropertyChooserBuilder"
            type="float">
      </configurationPropertyChooser>
      <configurationPropertyChooser
            implementation="org.peprframework.ide.propertychooser.BooleanPropertyChooserBuilder"
            type="boolean">
      </configurationPropertyChooser>
      <configurationPropertyChooser
            implementation="org.peprframework.ide.propertychooser.LongPropertyChooserBuilder"
            type="long">
      </configurationPropertyChooser>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.peprframework.ide.PerspectiveFactory"
            icon="icons/pepr_16x16.png"
            id="org.peprframework.ide.perspective"
            name="pepr">
      </perspective>
   </extension>
</plugin>
